*{
    box-sizing: border-box;
}


/* ////////////// login //////////////*/
section{
    z-index: 3;
}
.logo-login img{
    position: absolute;
    top: 72px;
    right: 0;
    left: 0;
    margin:auto;
    width: 130px;
}
.input-login input{
    position: absolute;
    top: 42%;
    left: 0;
    right: 0;
    margin: auto;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    width: 261px;
    height: 54px;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
}
.button-login button{
    position: absolute;
    width: 109px;
    height: 45px;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    background: #E7E7E7;
    border-radius: 9px;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    border: 1px solid #D7D7D7;
    color: #696969;
}

/* ////////////// topo da pagina //////////////*/
header{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    position: fixed;
    top: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    z-index: 1;
}
.logo{
    margin-left: 22px;
}
.profile{
    margin-right: 22px;
    font-size: 42px;
}
.hidden{
    display: none;
}
/* ////////////// area das mensagens //////////////*/
main{
    margin-top: 90px;
}
.area{
    height: 40px;
}
.login{
    background: #DCDCDC;
}
.logout{
    background: #DCDCDC;
}
.pvt{
    background: #FFDEDE
}

.dark{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.6);
}

/*////////////// configurações da página //////////////*/
aside{
    position: absolute;
    top: 0;
    width: 70%;
    height: 100vh;
    background: #FFFFFF;
    right: 0;
    z-index: 3;
}
.side-bar-title{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    text-align: center;
}
.users{
    height: 108px;
}
.name-users{
    display: flex;
    height: 36px;
    margin-left: 20px;
}
.name-users p{
    margin-left: 8px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
}
.info-visibility{
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
}
.icon-bar{
    font-size: 26px;
}


/*//////////////rodapé da página //////////////*/
footer{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    border: 2px solid black;
    z-index: 1;
}
.send{
    font-size: 26px;
    margin-right: 22px;
}
.input-message{
    margin-left: 22px;
    width: 85%;
    height: 80%;
    font-family: Roboto;
    font-style: italic;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    color: #000000;
    border: 0px;
}